<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if user_signed_in? %>
    <%= link_to '新しいタスクを追加', new_task_path %>
  <% else %>
    <p>タスクを作成するにはログインしてください。</p>
    <%= link_to 'ログイン', new_user_session_path %>
  <% end %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= task.title %></strong>
        <%= render partial: "tasks/task", locals: { task: task } %>
      </li>
    <% end %>
  </ul>
</body>
</html>
