<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <% if user_signed_in? %>
    <div class="task-actions">
      <%= link_to 'Add new task', new_task_path, class: "task-action-button" %>
      <%= link_to 'Delete task', delete_tasks_path, class: "task-action-button" %>
    </div>
  <% else %>
    <p class="login-message">Please log in to create task</p>
  <% end %>

  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li class="task-item">
        <strong class="task-text"><%= task.text %></strong>
        <%= render partial: "tasks/index", locals: { task: task } %>
      </li>
    <% end %>
  </ul>
</body>
</html>
