@charset "UTF-8";

/* Home_page styles */
header.header div.header__bar.row h1.grid-1 a.logo {
  font-size: 30px;
  line-height: 30px;
  margin-left: 20px;
  float: left;
  text-decoration: none;
  border-bottom: 2px solid #57C3E9; 
}

header.header div.header__bar.row h1.grid-1 a.logo:hover,
header.header div.header__bar.row h1.grid-1 a.logo:visited,
header.header div.header__bar.row h1.grid-1 a.logo:focus,
header.header div.header__bar.row h1.grid-1 a.logo:active {
  color: rgb(29, 74, 158); 
}

.row .grid-1 {
  float: left;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

header.header div.header__bar.row div.grid-1 a.post {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  margin-top: 15px;
}

.btn, header.header div.header__bar.row div.grid-1 a.post {
  line-height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  background-color: rgb(249, 247, 254);
}

.login-message {
  font-size: 30px; 
  color: #727171; 
  text-align: center; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 75vh; 
}

/* log_in sign_in styles */
.container {
  position: absolute;
  top: 100px;
  left: 485px;
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 50px;
  border: 2px solid #57C3E9; 
  border-radius: 30px;
  background-color: rgb(247, 254, 242); 
}

.container h2 {
  color: rgb(29, 74, 158); 
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #57C3E9; 
}

.field {
  margin-bottom: 10px;
}

.field label {
  font-weight: bold;
  color: #57C3E9; 
  display: block;
}

.field em {
  color: #999; 
  font-size: 0.9em;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.actions input[type="submit"] {
  background-color: #57C3E9; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Task list styles */

.task-action-button {
  line-height: 25px;
  display: inline-block;
  margin:  14px;
  padding: 10px 30px;
  font-size: 15px;
  color: #fff;
  background-color: #57C3E9;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}


.task-list {
  padding: 0;
  padding-top: 0px;

}

.task-item {
  color: #727171;
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  padding: 30px;
  border: 2px solid #918f8f;
  border-radius: 10px;
  margin: 10px;
  display: block;
}

.task-item:before {
  content: "○";
  margin-right: 10px;
  color: #57C3E9;
}

.task-sub:before {
  content: "○";
  margin-right: 10px;
  color: #57C3E9;
}

.user_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_info {
  list-style: none; 
  padding: 0;
  margin: 1;
  margin-left: 10px;
  display: inline-block;
  line-height: 30px;
  padding: 5px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  background-color: rgb(247, 254, 242); 
  text-decoration: none; 
  transition: none; 
}

.user_info-1 {
  list-style: none; 
  padding: 0;
  margin: 15px auto;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  line-height: 30px;
  padding: 5px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  background-color: #f5f5ff; 
  text-decoration: none; 
  transition: none; 
}

.logout_button {
  color: #57C3E9;
  font-weight: bold;
  border-radius: 100px;
  display: inline-block;
  background-color: #f5f5ff; 
  text-decoration: none;
}

/* new task styles */
.container-1 {
  
  color: #727171; 
  position: relative;
  top: 14px;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 20px;
  border: 2px solid #57C3E9; 
  border-radius: 30px;
  background-color: #e4f9fc; 
}

.container-1 label {
  display: block;
  font-weight: bold;
  color: #57C3E9;
  margin-bottom: 10px;
}

.container-1 input[type="text"],
.container-1 input[type="email"],
.container-1 input[type="password"] {
  border-radius: 60px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.task-list-1 {
  padding: 0px;
  padding-top: 1px;

}

.task-item-1 {
  color: #727171;
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  padding: 30px;
  border: 2px solid #918f8f;
  border-radius: 10px;
  margin: 10px;
  display: block;
}

.task-item-1:before {
  content: "○";
  margin-right: 10px;
  color: #57C3E9;
}

.add-btn{
  background-color: #57C3E9; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.btn-2{
  position: relative;
  top: 10px;
  left: 582px;
  background-color: #57C3E9; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: none; 
  text-decoration: none;
}

.form-label {
  display: block;
  font-weight: bold;
  color: #6e2638;
  margin-bottom: 10px;
  margin-top: 0; /* 余白を消す */
}

.form-field {
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-select {
  width: 100%;
  max-width: 100%; /* 幅を親要素に合わせる */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ac1d1d;
  background-color: #fff;
  overflow: hidden; /* オーバーフローするテキストを隠す */
  text-overflow: ellipsis; /* 省略記号を表示する */
  white-space: nowrap; /* テキストを折り返さない */
}

.form-select option {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.delete-btn{
  background-color: #57C3E9; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}